body{
	background-color:#f9f9f9;	
}

.find_nav{
	position:relative;
	left:80px;
	top:100px;
}

#modifyPwdDiv{
	display:none;
	width: 50%;
	padding: 20px;
	margin: 50px auto;
}
.updatePwdForm{
    padding: 20px;
	margin: 50px auto;
    width: 500px;
}
.setting_right{
	position:relative;
	float:right;
}

#headImgDiv{
	width:150px;
	height:150px;
    margin-top: 50px;
}

#infoDiv{
	float:left;
	position:relative;
	top:60px;
	left:5px;
}